{% extends "base.html" %} {% block title %}LicenseWay{% endblock %} {% block
    content %}
    <form method="POST">
  <h1 align="center">Records</h1>
  
      <input type="search" id="form1" class="form-control" placeholder="search here.." aria-label="Search" />
    </div>
    
    </div><table class="table table-sm">
  <thead class="thead-dark">
    <tr>
     
      <th scope="col">VISITOR</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">...</th>
      
    </tr>
    <tr>
      <th scope="row">...</th>
    
    </tr>
    <tr>
      <th scope="row">...</th>
      
    </tr>
  </tbody>
</table>

<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">RESIDENT</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">...</th>
      <td> </td>
   
    </tr>
    <tr>
      <th scope="row">...</th>
      <td> </td>
    </tr>
    <tr>
      <th scope="row">...</th>
      <td> </td>
    </tr>
  </tbody>
</table>
 
  {% endblock %}
    
  